.btn {
  padding: 30px 62px;
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid $main;
  color: $main;
  font-weight: bold;
  transition: $speed;
  
  &:hover {
    background-color: $darkred;
    border: 1px solid $main;
  }

  &--black-hover {
    &:hover {
      background-color: rgba($secondary, 0.2);
    }

  }
}