.design__image {
  margin-bottom: 100px;
}

.design__desc-list {
  display: flex;
  justify-content: space-between;
}

.design__desc-item {
  max-width: 572px;
}

.design__desc-item-num {
  color: $red;
}

.design__desc-item-text {
  padding-right: 16px;
  margin-left: 105px;
}