.footer {
  background-color: $darkred;
  padding: 83px 0 20px;

  @include big-phones {
    padding: 40px 0 20px;
  }
}

.footer__btn {
  margin-bottom: 83px;
  text-align: center;

  @include big-phones {
    margin-bottom: 40px;
  }
}