.header {
  height: 100vh;
  background-color:  rgba(0, 0, 0, 0.3);
  background-image: url(~images/bg/header-bg-1.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}