.humburger-btn {
  width: 60px;
  height: 60px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid $main;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 17px 0;
}

.humburger-btn__row {
  height: 2px;
  width: 36px;
  background-color: $main;
}