.sitemap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.sitemap__link {
  font-weight: bold;

  &:hover {
    text-decoration: underline;
  }
}

.sitemap__item-text {
  font-weight: bold;
  cursor: default;
}

.sitemap__item + .sitemap__item {
  &::before {
    content: '|';
    margin: 0 14px;
  }

  @include big-phones {
    &::before {
      content: '';
      margin: 0 15px;
    }
  }
}