.specs {
  padding: 105px 0 100px;

  @include big-phones {
    padding: 50px 0 0px;
  }
}

.specs__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1073px;
  margin: 0 auto;
}

.specs__item {
  margin: 0 15px 60px;
}