.spec {
  text-align: center;
}

.spec__title {
  margin-bottom: 20px;
}

.spec__number {
  font-family: Roboto;
  font-size: 96px;
  line-height: 112px;
  margin-bottom: 7px;
  position: relative;
}

.spec__number-unit {
  font-family: Roboto Condensed;
  font-size: 24px;
  line-height: 28px;
  
  &--plus {
    &::before {
      content: '+';
      position: absolute;
      top: 0;
    }
  }
}

.spec__desc {
  color: $red;
}