section.advantages
  .container
    ul.advantages__list
      li.advantages__item
        .advantage
          .advantage__info
            .advantage__title Скорость
            .advantage__text
              | Самый быстроразгоняющийся серийный автомобиль из когда-либо созданных
          .advantage__image
            +image('content/advantage-img-1.jpg', 'advantage__img')
      li.advantages__item
        .advantage.advantage--reverse
          .advantage__info
            .advantage__title Преимущества
            .advantage__text
              ul.advantage__text-list
                li.advantage__text-item Датчик дождя
                li.advantage__text-item Датчик света
                li.advantage__text-item Автопилот
                li.advantage__text-item Навигационная система
                li.advantage__text-item Обогрев зеркал
                li.advantage__text-item Усилитель руля
                li.advantage__text-item Панорамная крыша
                li.advantage__text-item Ксеноновые фары
          .advantage__image
            +image('content/advantage-img-2.jpg', 'advantage__img')