section.design
  .container
    .design__image
      +image('content/design-img.jpg', 'design__img')
    ul.design__desc-list
      li.design__desc-item
        .design__desc-item-num 01
        .design__desc-item-text
          p Новый родстер был разработан бывшим дизайнером Mazda Францем фон Хольцхаузеном.
          p Имеет съёмную стеклянную крышу и кузов с двумя передними сиденьями плюс два небольших сиденья сзади.
      li.design__desc-item
        .design__desc-item-num 02
        .design__desc-item-text
          p Родстер имеет три электродвигателя, один спереди и два сзади, 
          p Они обеспечивают полный привод, а также систему адресного распределения крутящего момента для лучшего прохождения поворотов.