footer.footer
  .container
    .footer__btn
      button(type='button').btn.btn--black-hover Хочу тест драйв
    .footer__links
      ul.sitemap
        li.sitemap__item
          .sitemap__item-text Tesla © 2020
        - var sitemapLinks = [
        -  { title: 'Privacy & Legal', url: '#' },
        -  { title: 'Contact', url: '#' },
        -  { title: 'Careers', url: '#' },
        -  { title: 'Get Newsletter ', url: '#' },
        -  { title: 'Forums', url: '#' },
        -  { title: 'Locations', url: '#' }
        - ]
        each item in sitemapLinks
          li.sitemap__item
              a(href=item.url).sitemap__link #{item.title}