footer.footer
  .container
    .footer__btn
      button(type='button').btn Хочу тест драйв
    .footer__links
      ul.sitemap
        li.sitemap__item
          a(href="#").sitemap__link Tesla © 2020
        li.sitemap__item
          a(href="#").sitemap__link Privacy & Legal
        li.sitemap__item
          a(href="#").sitemap__link Contact
        li.sitemap__item
          a(href="#").sitemap__link Careers
        li.sitemap__item
          a(href="#").sitemap__link Get Newsletter 
        li.sitemap__item
          a(href="#").sitemap__link Forums
        li.sitemap__item
          a(href="#").sitemap__link Locations
