header.header
  .header__wrapper
    .container
        .header__top
          .header__logo
            a(href="#").logo
              +image('content/logo.png', 'logo__img')
          button(type='button').humburger-btn
            .humburger-btn__row
            .humburger-btn__row
            .humburger-btn__row
        .header__content
          h1.header__title Roadster
          .header__desc
            | Самый быстрый автомобиль в мире, с рекордным ускорением, дальностью и производительностью.
          .header__btn
            button(type='button').btn Хочу тест драйв
  .header__slider
    ul.slider
      li.slider__item(
        style=`background-image: url(${require("./images/content/slider-img-1.jpg")})`
      )
      li.slider__item(
        style=`background-image: url(${require("./images/content/slider-img-2.jpg")})`
      )
      li.slider__item(
        style=`background-image: url(${require("./images/content/slider-img-3.jpg")})`
      )