header.header
  .container
    .header__top
      .header__logo
        a(href="#").logo
          +image('content/logo.png', 'logo__img')
      button(type='button').humburger-menu
        .humburger-menu__row
        .humburger-menu__row
        .humburger-menu__row
    .header__content
      h1.header__title Roadster
      .header__desc
        | Самый быстрый автомобиль в мире, с рекордным ускорением, дальностью и производительностью.
      .header__btn
        button(type='button').btn Хочу тест драйв