section.specs
  .container
    ul.specs__list
      li.specs__item
        .spec
          .spec__title Двигатель
          .spec__number 2,1
            span.spec__number-unit  сек
          .spec__desc разгон до 100 км/ч
      li.specs__item
        .spec
          .spec__title Батарея
          .spec__number 1000
            span.spec__number-unit  км
          .spec__desc запас хода
      li.specs__item
        .spec
          .spec__title Скорость
          .spec__number 400
            span.spec__number-unit.spec__number-unit--plus  км/ч
          .spec__desc макс скорость