include templates/mixins

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Tesla - машина вашей мечты
  body
    .wrapper
      include templates/blocks/header
      include templates/blocks/specs
      include templates/blocks/video
      include templates/blocks/advantages
      include templates/blocks/design